@font-face {
  font-family: 'Merkur Sans Medium';
  src:
    url('https://Lenard97.github.io/Merkur Sans font/MERKUR Sans Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
